<div class="center hide" id="card-3">
	<div class="my_data_count">
		<div class="card-wrap">
			<div class="card first">
				<div class="title">
					<span>Top10高频关注点</span>
					<div class="step-box" data-for="chart1">
						<span>阶段：</span>
						<a href="javascript:;" data-value="授信意见" class="step">授信阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="会签意见" class="step">授信调整阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="用信意见" class="step">用信阶段</a>
					</div>
				</div>
				<div class="charts" id="chart1"></div>
			</div>
			<div class="card">
				<div class="title">
					<span>关注点类型统计</span>
					<div class="step-box" data-for="chart2">
						<span>阶段：</span>
						<a href="javascript:;" data-value="授信意见" class="step">授信阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="会签意见" class="step">授信调整阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="用信意见" class="step">用信阶段</a>
					</div>
				</div>
				<div class="charts" id="chart2"></div>
			</div>
			<div class="card">
				<div class="title">
					<span>高频关注</span>
					<div class="step-box" data-for="chart3">
						<span>阶段：</span>
						<a href="javascript:;" data-value="授信意见" class="step">授信阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="会签意见" class="step">授信调整阶段</a>
						<span class="split"></span>
						<a href="javascript:;" data-value="用信意见" class="step">用信阶段</a>
					</div>
				</div>
				<div class="charts" id="chart3"></div>
			</div>
		</div>
	</div>
</div>
<div class="center hide" id="card-4">
	<div class="my_data_count">
		<div class="card-wrap">
			<div class="card first">
				<div class="title">
					<span>授信 vs 用信</span>
				</div>
				<div class="charts" id="chart4"></div>
			</div>
			<div class="card">
				<div class="title">
					<span>授信 vs 用信</span>
					<div class="step-box">
						<a href="javascript:;" class="btn" id="chart5-back">返回</a>
					</div>
				</div>
				<div class="charts" id="chart5"></div>
			</div>
		</div>
	</div>
</div>
<div class="center hide" id="card-5">
	<div class="my_data_count">
		<div class="card-wrap">
			<div class="card first">
				<div class="title">
					<span>授信 vs 放款</span>
				</div>
				<div class="charts" id="chart6"></div>
			</div>
			<div class="card">
				<div class="title">
					<span>授信 vs 放款</span>
					<div class="step-box">
						<a href="javascript:;" class="btn" id="chart7-back">返回</a>
					</div>
				</div>
				<div class="charts" id="chart7"></div>
			</div>
		</div>
	</div>
</div>