<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信贷语义识别</title>
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="left-side">
                <div id="tree">
                    <div class="tree-node">
                        <div class="tree-content">
                            <a href="javascript:;" class="tree-expand icon-tree-hide"></a>
                            <div class="tree-fill"></div>
                            <a href="javascript:;" class="tree-text"><span>信贷语义识别</span></a>
                        </div>
                        <div class="tree-children">
                            <div class="tree-node">
                                <div class="tree-line"></div>
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <span class="tree-text" id="patchdate">(数据日期：--)</span>
                                </div>
                            </div>
                            <div class="tree-node">
                                <div class="tree-line"></div>
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <a href="javascript:;" class="tree-text" data-for="card-1">
                                        <i class="tree-icon icon-tree-table"></i>
                                        <span>未结清授信业务情况</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tree-node">
                                <div class="tree-line"></div>
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <a href="javascript:;" class="tree-text" data-for="card-2">
                                        <i class="tree-icon icon-tree-table"></i>
                                        <span>集团成员关系</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tree-node">
                                <div class="tree-line"></div>
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <a href="javascript:;" class="tree-text" data-for="card-3">
                                        <i class="tree-icon icon-tree-table"></i>
                                        <span>关注点统计</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tree-node">
                                <div class="tree-line"></div>
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <a href="javascript:;" class="tree-text" data-for="card-4">
                                        <i class="tree-icon icon-tree-table"></i>
                                        <span>累计用信金额突破额度统计</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tree-node">
                                <div class="tree-content">
                                    <div class="tree-line-v"></div>
                                    <a href="javascript:;" class="tree-text" data-for="card-5">
                                        <i class="tree-icon icon-tree-table"></i>
                                        <span>累计放款金额突破用信统计</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center" id="card-1">
                <div class="center-header">
                    <div class="center-title">未结清授信业务情况</div>
                    <div class="filter-line clearfix">
                        <div class="input-box">
                            <label>客户名称/ID：</label>
                            <input type="text" name="customerName">
                        </div>
                        <div class="input-box">
                            <label>借据流水号：</label>
                            <input type="text" name="duebillID">
                        </div>
                        <div class="input-box">
                            <label>业务品种：</label>
                            <select name="businessType" id="businessType">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-line clearfix">
                        <div class="input-box">
                            <label>合同号：</label>
                            <input type="text" name="contractId">
                        </div>
                        <div class="input-box">
                            <label>出帐号：</label>
                            <input type="text" name="putoutID">
                        </div>
                        <div class="input-box">
                            <a href="/export/uncleared" id="export-uncleared" target="_blank">导出</a>
                            <a href="javascript:;" id="nlp-uncleared-reset">重置</a>
                            <a href="javascript:;" id="nlp-uncleared-query">查询</a>
                        </div>
                    </div>
                </div>
                <div class="center-body" id="nlp-uncleared">
                    <div class="detail-loading">
                        <i class="icon-loading-static-icon"></i>
                        <span>加载中...</span>
                    </div>
                </div>
                <script type="text/html" id="nlp-uncleared-tpl">
                    <div class="nlp-table-wrap">
                        <table class="nlp-table" style="width: 1670px;">
                            <tr>
                                <th style="width: 40px"></th>
                                <th style="width: 250px;">客户名称</th>
                                <th style="width: 150px;">客户编号</th>
                                <th style="width: 150px;">借据流水号</th>
                                <th style="width: 150px;">合同号</th>
                                <th style="width: 150px;">出帐号</th>
                                <th style="width: 150px;">业务品种</th>
                                <th style="width: 80px;">币种</th>
                                <th style="width: 80px;">借据金额</th>
                                <th style="width: 80px;">余额</th>
                                <th style="width: 80px;">表内欠息</th>
                                <th style="width: 80px;">表外欠息</th>
                                <th style="width: 250px;">经办机构</th>
                            </tr>
                            <tbody>
                                {{each data}}
                                <tr>
                                    <td>{{ $index + 1 }}</td>
                                    <td><a href="/detail.html?name={{encodeURIComponent($value.customerName)}}" target="_blank">{{ $value.customerName }}</a></td>
                                    <td>{{ $value.duebillID }}</td>
                                    <td>{{ $value.customerID }}</td>
                                    <td>{{ $value.contractId }}</td>
                                    <td>{{ $value.putoutID }}</td>
                                    <td>{{ $value.businessTypeName }}</td>
                                    <td>{{ $value.businessCurrencyName }}</td>
                                    <td>{{ $value.businessSum }}</td>
                                    <td>{{ $value.balance }}</td>
                                    <td>{{ $value.interestbalance1 }}</td>
                                    <td>{{ $value.interestbalance2 }}</td>
                                    <td>{{ $value.operateOrgName }}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <!-- 无数据 -->
                        {{if data.length === 0}}
                        <div class="empty-main">
                            <div class="wrapper">
                                <div class="no-company-data icon-no-data-face"></div>
                                <p class="main-tips">{{msg || '没有数据'}}</p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <!-- 加载中 -->
                    <div class="detail-loading">
                        <i class="icon-loading-static-icon"></i>
                        <span>加载中...</span>
                    </div>
                    <!-- 总数 -->
                    {{if total}}
                    <div class="total-tips">共{{total}}条数据</div>
                    {{/if}}
                    <!--只有一页,不显示-->
                    {{if total > pageSize}}
                    <div class="group-footer">
                        <div class="pagination-area clearfix">
                            <div id="paginationGroup" class="m-pagination"></div>
                        </div>
                    </div>
                    {{/if}}
                </script>
            </div>
            <div class="center hide" id="card-2">
                <div class="center-header">
                    <div class="center-title">集团成员关系</div>
                    <div class="filter-line clearfix">
                        <div class="input-box">
                            <label>集团名称：</label>
                            <input type="text" name="groupName">
                        </div>
                        <div class="input-box">
                            <label>客户ID：</label>
                            <input type="text" name="relativeId">
                        </div>
                        <div class="input-box">
                            <!-- <a href="/export/group" target="_blank">导出</a> -->
                            <a href="javascript:;" id="nlp-group-reset">重置</a>
                            <a href="javascript:;" id="nlp-group-query">查询</a>
                        </div>
                    </div>
                </div>
                <div class="center-body" id="nlp-group">
                    <div class="detail-loading">
                        <i class="icon-loading-static-icon"></i>
                        <span>加载中...</span>
                    </div>
                </div>
                <script type="text/html" id="nlp-group-tpl">
                    <div class="nlp-table-wrap">
                        <table class="nlp-table">
                            <tr>
                                <th style="width: 40px"></th>
                                <th></th>
                                <th>集团编号</th>
                                <th>集团名称</th>
                                <th>成员编号</th>
                                <th>成员名称</th>
                            </tr>
                            {{each data}}
                            <tr>
                                <td>{{ $index + 1 }}</td>
                                <td class="show-member" data-status="+" data-id="{{$value.relativeId}}"><a href="javascript:;">+</a></td>
                                <td>{{$value.relativeId}}</td>
                                <td>{{$value.groupName}}</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            {{/each}}
                        </table>
                        <!-- 无数据 -->
                        {{if data.length === 0}}
                        <div class="empty-main">
                            <div class="wrapper">
                                <div class="no-company-data icon-no-data-face"></div>
                                <p class="main-tips">{{msg || '没有数据'}}</p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <!-- 加载中 -->
                    <div class="detail-loading">
                        <i class="icon-loading-static-icon"></i>
                        <span>加载中...</span>
                    </div>
                    <!-- 总数 -->
                    {{if total}}
                    <div class="total-tips">共{{total}}条数据</div>
                    {{/if}}
                    <!--只有一页,不显示-->
                    {{if total > pageSize}}
                    <div class="group-footer">
                        <div class="pagination-area clearfix">
                            <div id="paginationGroup2" class="m-pagination"></div>
                        </div>
                    </div>
                    {{/if}}
                </script>
                <script type="text/html" id="nlp-member-tpl">
                    {{each data}}
                    <tr class="member member-{{groupId}}">
                        <td></td>
                        <td></td>
                        <td>{{$value.relativeId}}</td>
                        <td>{{$value.groupName}}</td>
                        <td>{{$value.customerId}}</td>
                        <td><a href="/detail.html?name={{encodeURIComponent($value.customerName)}}" target="_blank">{{ $value.customerName }}</a></td>
                    </tr>
                    {{/each}}
                    {{if data.length === 0}}
                    <tr class="member-{{groupId}}">
                        <td colspan="6">&emsp;暂无数据</td>
                    </tr>
                    {{/if}}
                </script>
            </div>
            <%= require('./data_count.ejs')() %>
        </div>
    </div>
    <script type="text/javascript" src="./lib/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/template.js"></script>
    <script type="text/javascript" src="./lib/echarts.common.js"></script>
    <script type="text/javascript" src="./lib/echarts-wordcloud.js"></script>
</body>
</html>