@import "./icon.less";
@import "./tree.less";

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    overflow: auto;
}

.container {
    min-width: 1200px;
    max-height: 1600px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.left-side {
    background: #FFFFFF;
    width: 258px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 12px;
    z-index: 9;
}

#tree {
    padding: 20px 10px;
    margin-left: 0;
}

.center {
    background: #FFFFFF;
    position: absolute;
    left: 282px;
    top: 10px;
    bottom: 10px;
    right: 12px;
}

.center-header {
    
    .center-title {
        font-size: 18px;
        line-height: 48px;
        height: 48px;
        color: #333;
        border-bottom: 1px solid #e9e8e8;
        margin: 0 24px;
        padding-top: 6px;
        margin-bottom: 10px;
    }

    .filter-line {
        padding: 6px 24px;
        .input-box {
            float: left;
            font-size: 0;

            label {
                font-size: 14px;
                color: #666;
                width: 100px;
                line-height: 28px;
                margin-bottom: 5px;
                text-align: right;
                float: right;
            }
            input, select{
                float: left;
                width: 120px;
                height: 28px;
                line-height: 28px;
                padding: 0 12px;
                font-size: 14px;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                box-sizing: content-box;
                margin-right: 10px;
                &:focus {
                    border-color: #66afe9;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                }
            }

            select {
                width: 144px;
                padding: 0;
                box-sizing: content-box;
            }

            #export-uncleared {
                margin-left: 40px;
            }

            .btn {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin: 0 5px;

                color: #333;
                background-color: #fff;
                border-color: #ccc;

                &:hover {
                    color: #333;
                    background-color: #e6e6e6;
                    border-color: #adadad;
                }

                &.btn-primary {
                    color: #fff;
                    background-color: #337ab7;
                    border-color: #2e6da4;

                    &:hover {
                        color: #fff;
                        background-color: #286090;
                        border-color: #204d74;
                    }
                }
            }
        }
    }
}


.center-body {
    position: absolute;
    width: 100%;
    left: 0;
    top: 155px;
    bottom: 20px;
}

#nlp-group {
    top: 115px;
}

#nlp-check-result {
    top: 112px;
}

.nlp-table-wrap {
    position: absolute;
    left: 24px;
    right: 24px;
    top: 10px;
    bottom: 60px;
    overflow: auto;
}

.nlp-table {
    border-collapse: collapse;
    table-layout: fixed;

    a {
        color: #666;
        &:hover {
            color: #0088FF;
        }
    }

    th, td {
        height: 32px;
        font-size: 12px;
        line-height: 18px;
        border: 1px solid #ddd;
        color: #666;
        padding: 0 6px;
        word-wrap: break-word;
    }

    th {
        background: #f7f7f7;
    }

    td.show-member {
        width: 32px;
        a {
            display: inline-block;
            width: 32px;
            line-height: 32px;
            font-size: 16px;
            text-align: center;
        }
    }

    tr.member {
        background: #eee;
    }
}

.no-company-data {
    margin: 0 auto;
}

.center-body {
    .detail-loading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        opacity: 0.7;
        i {
            display: block;
            width: 50px;
            height: 40px;
            margin: 180px auto 0;
            background-repeat: no-repeat;
            background-position: center;
        }
        span {
            display: block;
            width: 60px;
            margin: 0 auto;
            font-size: 12px;
            color: #666;
            text-align: right;
        }
    }
    
    .empty-main {
        background-color: #fff;
        text-align: center;
        .wrapper {
            padding-top: 74px;
            img {
                width: 150px;
                height: 146px;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
            }
            .main-tips {
                margin-top: 25px;
                font-size: 16px;
                color: #999999;
            }
        }
    }
    
    .group-footer {
        text-align: right;
        position: absolute;
        width: 100%;
        bottom: 10px;
        right: 24px;
        .m-pagination {
            margin-top: 10px;
            ul {
                li {
                    a {
                        display: block;
                        width: 20px;
                        height: 20px;
                        padding: 7px;
                        min-width: 20px;
                    }
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    .total-tips {
        position: absolute;
        bottom: 10px;
        font-size: 14px;
        left: 24px;
        color: #666;
    }
}
